* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(image/back.jpg);
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
}

a {
  text-decoration: none;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 217.1px;
  padding-bottom: 32px;
}

.top {
  padding-left: 120.22px;
}

.top__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  align-items: center;
  color: #ffffff;
  padding-bottom: 57.3px;
}

.top__button {
  background: #9c0332;
  border-radius: 30px;
  box-sizing: border-box;
  padding-left: 74.03px;
  padding-right: 74.03px;
  padding-top: 13.3px;
  padding-bottom: 13.3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  width: 86px;
  height: 22px;
  left: 194.03px;
  top: 495.41px;
}

.footer {
  padding-top: 128px;
  padding-bottom: 128px;
  padding-left: 120px;
  padding-right: 120px;
}

.game__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 79px;
  height: 31.64px;
  left: 152px;
  top: 1388.36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  color: #ffffff;
}


